.nav-container {
    position: sticky;
    z-index: 3;
    top: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    height: 15vh;
    background-color: blue;
}

.navbar-logo{
    justify-self: start;
    margin-left: 20px;
    color: gold;
    margin-top: 4vh;
    cursor: pointer;
}

.seeCarrito {
    font-size: 25px;
    margin-right: 20px;
    margin-top: 4vh;
    cursor: pointer;
    text-decoration: none;
}

.historiaCabj{
    justify-self: start;
    margin-left: 20px;
    color: gold;
    margin-top: 4vh;
    cursor: pointer;
    font-size: 1.5em;
    line-height: 2.5;
}